In [1]:
print ("Hello")

Hello

In [2]:
print ("Hello python")

Hello python

In [6]:
print ("Hello \
       python")
# / is for continuation

Hello        python

In [4]:
print ("Hello \
python")

Hello python

In [7]:
print ("""  Hello every one """)

  Hello every one

In [8]:
 print ("""  (”)….(”)
( ‘ o ‘ )
(”)–(”)
(””’)-(””’) """)

#To use Text Art

  (”)….(”)
( ‘ o ‘ )
(”)–(”)
(””’)-(””’)

In [9]:
("""  (”)….(”)
( ‘ o ‘ )
(”)–(”)
(””’)-(””’) """)

'  (”)….(”)\n( ‘ o ‘ )\n(”)–(”)\n(””’)-(””’) '

In [10]:
"""  (”)….(”)
( ‘ o ‘ )
(”)–(”)
(””’)-(””’) """

'  (”)….(”)\n( ‘ o ‘ )\n(”)–(”)\n(””’)-(””’) '

In [12]:
"""This Program is written by Hemant Negi"""

'This Program is written by Hemant Negi'

In [13]:
""" This Program is written by Hemant Negi """

' This Program is written by Hemant Negi '

In [14]:
print (""" This Program is written by Hemant Negi """)
#Document String

 This Program is written by Hemant Negi

In [15]:
a = """ Select * from student """
#SQL Query

In [16]:
print ('Hello world')

Hello world

In [20]:
print ("Python's world")
#Can't give single Quote here

Python's world

In [19]:
print ("Into the Python's world")
#Can't give single Quote here

Into the Python's world

In [23]:
print ("Welcome to the Python's world")
#Can't give single Quote here

Welcome to the Python's world

In [24]:
print ("Hello\tPython")
# \t is for TAB (Space)

Hello	Python

In [25]:
print ("Hello\nPython")
# \n line separator, new line character (To create new line)

Hello
Python

In [26]:
print ('Python\'s world')
# by using \ before ' we can use single quote (\ means its English interpreter & not Python interpreter)

Python's world

In [32]:
name = "Harsh"
marks = "90"
age = "30"
print ("The name of person is ", name, "marks is ", marks, "age is ", age)
# Sentence using ,(comma)

The name of person is  Harsh marks is  90 age is  30

In [33]:
print ("The name of person is %s marks is %f age is %d"%(name,marks, age))
# Using Formated Output 
# %s is string, %f is float, %d is integer

TypeError: must be real number, not str

In [35]:
print ("The name of person is %s marks is %f  age is %d"%(name,marks, age))

TypeError: must be real number, not str

In [37]:
name = "Harsh"
marks = 90
age = 30
print ("The name of person is %s marks is %f  age is %d"%(name,marks, age))
# Using Formated Output 
# %s is string, %f is float, %d is integer

The name of person is Harsh marks is 90.000000  age is 30

In [38]:
name = "Harsh"
marks = 90
age = 30
print ("The name of person is %10s marks is %10f  age is %10d"%(name,marks, age))
# Using Formated Output 
# %10s is string, %10f is float, %10d is integer all with space

The name of person is      Harsh marks is  90.000000  age is         30

In [39]:
name = "Harsh"
marks = 90
age = 30
print ("The name of person is %10s/n marks is %10f/n  age is %10d"%(name,marks, age))
# Using Formated Output 
# %10s is string, %10f is float, %10d is integer all with space

The name of person is      Harsh/n marks is  90.000000/n  age is         30

In [40]:
name = "Harsh"
marks = 90
age = 30
print ("The name of person is %10s\n marks is %10f\n  age is %10d"%(name,marks, age))
# Using Formated Output & \n new line character 
# %10s\n is string, %10f\n is float, %10d\n is integer all with space

The name of person is      Harsh
 marks is  90.000000
  age is         30

In [41]:
name = "Harsh"
marks = 90
age = 30
print ("The name of person is %10s\nmarks is %20f\nage is %20d"%(name,marks, age))
# Using Formated Output & \n new line character 
# %10s\n is string, %20f\n is float, %20d\n is integer all with space

The name of person is      Harsh
marks is            90.000000
age is                   30

In [42]:
name = "Harsh"
marks = 90
age = 30
print ("The name of person is %10s\nmarks is %28f\nage is %22d"%(name,marks, age))
# Using Formated Output & \n new line character 
# %10s\n is string, %28f\n is float, %22d\n is integer all with space

The name of person is      Harsh
marks is                    90.000000
age is                     30

In [44]:
name = "Harsh"
marks = 90
age = 30
print ("The name of person is %10s\nmarks is %27f\nage is %22d"%(name,marks, age))
# Using Formated Output & \n new line character 
# %10s\n is string, %27f\n is float, %22d\n is integer all with space

The name of person is      Harsh
marks is                   90.000000
age is                     30

In [45]:
name = "Harsh"
marks = 90.8675
age = 30
print ("The name of person is %10s marks is %10f  age is %10d"%(name,marks, age))
# Using Formated Output 
# %10s is string, %10f is float, %10d is integer all with space

The name of person is      Harsh marks is  90.867500  age is         30

In [46]:
name = "Harsh"
marks = 90.8675
age = 30
print ("The name of person is %10s marks is %10.2f  age is %10d"%(name,marks, age))
# Using Formated Output 
# %10s is string, %10f is float all with space
# %10.2d is integer is with space & accurate upto 2 decimal

The name of person is      Harsh marks is      90.87  age is         30

In [47]:
print (f"The name of person is {name} marks is {90.8675}  age is {age}")

The name of person is Harsh marks is 90.8675  age is 30

In [50]:
print (f"The name of person is {name} marks is {marks}  age is {age}")
# Formated Output

The name of person is Harsh marks is 90.8675  age is 30